html, body{
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
}
@font-face{
    font-family: mario;
    src:url("../fonts/mario.ttf");
}

.grass, .sky, .road{
    position: relative;
}
.sky{
    height: 40%;
    background: skyblue;
}
.grass{
    height: 30%;
    background: seagreen;
}
.road{
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}
.lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}

button{
    width: 150px;
    margin:45%;
    cursor: pointer;
    font-family: mario;
    float: right;    
    margin-top: 15px;
    border: none;
    color: #999999;
    background: seagreen;
    font-size: 50px;
}
/* animation */
.cloud{
    position: absolute;
}
.cloud:nth-child(1){
    width: 200px;
    top: 120px;
    opacity: 0.5;
    animation: wind 10s linear infinite reverse;
}
.cloud:nth-child(2){
    width: 300px;
    top: 0px;
    animation: wind 15s linear infinite reverse;
}
.mario{
    width: 100px;
    height: 100px;
    left: 0px;
    top: -30px;
    position: absolute;
    animation: drive 5s 1s linear infinite both,
               jump 0.3s 4s ease ;

}
.luigi{
    left: 0px;
    top: 50px;
    position: absolute;
    width: 100px;
    height: 100px;
    animation-name: drive;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.princess{
    width: 100px;
    height: 100px;
    right: 0px;
    top: -120px;
    position: absolute;
}
.brick{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 50px;
    right: 31%;
}
.tool{
    animation: jump 0.3s 4s ease ;
}
/* keyframes */
@keyframes drive{
    from{
        transform: translatex(-20px);
    }
    to{
        transform: translatex(1600px);
    }
}
@keyframes wind{
    from{left: -100px;}
    to{ left: 100%}
}
@keyframes jump{
    0%{top:-30px;}
    50%{top: -90px;}
    100%{top: -30px;}
}